body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #333;
    transition: background-color 1s;
}
#time-display {
    font-size: 64px;
    margin-bottom: 20px;
    z-index: 1;
}
#progress-container {
    width: 80%;
    height: 30px;
    background-color: #555;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#progress-bar {
    height: 100%;
    width: 0;
}
.progress-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
}
#settings-block {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    display: none;
}
#settings-block input {
    margin-bottom: 10px;
    padding: 5px;
}
#close-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}
#settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
#bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}
.bubble {
    position: absolute;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: blur(2px);
    animation: rise var(--duration) linear infinite;
}
@keyframes rise {
    0% {
        transform: translateY(100vh) translateX(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) translateX(calc(var(--x-variation) * 1vw)) scale(var(--scale));
        opacity: 0;
    }
}

#pomodoro-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.pomodoro-on {
    background: green;
}

.pomodoro-off {
    background: red;
}

#stop-button, #start-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

#stop-button {
    left: calc(50% - 60px); /* Ajuster la position pour éviter le chevauchement */
    background: red;
    color: white;
}

#start-button {
    left: calc(50% + 60px); /* Ajuster la position pour éviter le chevauchement */
    background: green;
    color: white;
}

